.popup-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.top-line {
  display: flex;
  align-items: center;
}

.bottom-line {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-index {
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
}
