.popup-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.popup-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: calc(100% - 60px); /* Adjust the height based on your needs */
  overflow: hidden; /* Prevent content from overflowing */
}

.center-content {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto; /* Add vertical scroll if needed */
}

.navigate-button {
  margin: 0 10px;
}

.popup-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.page-index {
  font-size: 14px;
  font-weight: bold;
}
